/*back*/
.back{background:none;line-height:40px;}
/*header footer*/
.round{height:80px;width:80px;border-radius:80px;-webkit-border-radius:80px;-moz-border-radius:80px;background:#00b58c;color:#fff;margin:0 auto;font-size:20px;padding-top:20px;}
.mywebui{
    text-align: center;
    font-size:24px;
    text-align: center;
    padding:16px 0;
}
.mywebui h3{padding:8px 0 16px 0;}
.menu-list li{padding:0;}
.menu-list a{
    color:#666;
    padding:16px;
}
/*button*/
.button-list{border-top:1px solid #ddd;}
.button-list .button{background:#ccc;color:#fff;line-height:40px;border-right:1px solid #fff;}
.button-list .sub-nav-focus{background:#00b58c;color:#fff;}
.button-list .button:last-child{border-right:0;}
.button-bl{font-size:14px;}
.button-bl button{padding:4px 16px;height:40px;}
.button-full{width:80%;height:40px;line-height:40px;background:green;color:#fff;display:block;margin:20px auto;border-radius:6px;-webkit-border-radius:6px;-moz-border-radius:6px;}

/*list*/
.division{padding:8px;background:#f0f0f0;}
/*grid sudoku*/
.sudoku .row{margin-top:20px;}
.sudoku .col{text-align: center;}
.sudoku img{width:40px;height: auto;margin:0 auto;}
.sudoku .col{border-top:1px solid #ccc;border-right:1px solid #ccc;border-bottom:1px solid #ccc;}
.sudoku .row .col:last-child{border-right:0;}

/*form-menu*/
.form-menu{width:40px;height:100%;background:url(../img/icon_nav_cell.png) no-repeat center center;background-size:20px 20px;}
.float-fixed{display:none;position:fixed;top:40px;left:0;width:100%;background:#fff;z-index:4;}
.float-fixed li{padding:8px;border-bottom:1px solid #ccc;}
.float-fixed li a{color:#666;}
/*dialog*/
.float-dialog{display:none;}
.float-dialog-title{text-align: center;font-size:16px;padding:16px 0 0 0;}
.float-dialog-content{color:#666;padding:16px;}
.float-dialog-btn{position: relative;}
.float-dialog-btn a{border-left:1px solid #D5D5D6;-webkit-box-flex: 1;-webkit-flex: 1;-moz-box-flex: 1;-moz-flex: 1;-ms-flex: 1;flex: 1;padding:8px 0;}
.float-dialog-btn a:last-child{border-left:1px solid #D5D5D6;}
.float-dialog-btn:after{  
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	border-top: 1px solid #D5D5D6;
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: scaleY(0.5);
	-ms-transform: scaleY(0.5);
	transform: scaleY(0.5);
}

.chest .col{border:0;border-bottom:1px solid #ccc;}
.chest-border-bottom{}

/*grid*/
/*百宝箱*/
.chest{
    padding:4px 8px 0px 8px;
}
.chest .row{
    padding:0;
    margin:0;
}
.chest .col{
    padding:0;
    margin:0px;
    border:0;
}
.chest .row .col:nth-child(2) .grid-border-right{
    border-right:1px solid #c7c7c7;
    width:0;
    height:60px;
}
.chest .chest-border-bottom{
    text-align: center;
    margin:0 8px;
    border-bottom:1px solid #c7c7c7;
    height:76px;
    padding-top:10px;
}
.chest img{
    display: block;
    width:50%;
    max-width:160px;
    margin:0 auto;
}